<%- content_for :document_ready do -%>
	<script type="text/javascript" charset="utf-8">
		$(function(){
			$("select#project").change(function(){
				var url = '<%= tasks_path(:"search[project_id]" => "JTAG") %>';
				$.ajax({
					url:url.replace("JTAG", $(this).val()),
					dataType:'xml',
					success:function(xml){
						$('select#assignment_task_id').html('');
						$(xml).find('task').each(function(){
							$('select#assignment_task_id').append(
								"<option value=" + $(this).find('id').text() + ">" + 
									$(this).find('name').text() + 
								"</option>"
							);
						});
					}
				});
			});
		});
	</script>
<%- end -%>

<% form_for @assignment do |f| %>
  <%= f.error_messages %>
	<p>
		<%= label_tag :project %>:
		<%= select_tag :project, options_for_select(["Select A Project"] + @projects.map{ |item| [item.name, item.id] }) %>
	</p>
	<p>
		<%= f.label :task_id, "Task" %>: 
	  <%= f.collection_select :task_id, [], :id, :name, {:disabled => true} %>
	</p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :col => 3, :rows => 3 %>
  </p>
  <p>
    <%= f.label :hours, "Hours:" %>
    <%= f.text_field :hours, :size => 3 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
