<h1>Assignments</h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Notes</th>
    <th>Total Time</th>
    <th>Status</th>
		<th>Project</th>
    <th>Task</th>
    <th>Client</th>
  </tr>
  <% for assignment in @assignments %>
		<%- if assignment.timer_running? -%>
			<%- content_for :document_ready do -%>
				<script type="text/javascript" charset="utf-8">
					function update_time(){
						$.ajax({
							url:"<%= url_for(assignment) %>",
							dataType:'xml',
							success:function(xml){
								$("#hours_for_<%= assignment.id %>").html($(xml).find("calculate-total-time-in-hours").text());
							}
						});
					}
					$(function(){
						update_time();
						setInterval(function(){update_time()}, 30000)
					});
				</script>
			<%- end -%>
		<%- end -%>
    <tr>
			<td><%=h assignment.notes %></td>
			<td id="hours_for_<%= assignment.id %>"><%=h assignment.hours %></td>
			<td>
				<%- form_for assignment do |f| -%>
					<%= hidden_field_tag :"assignment[toggle_timer]", true %>
					<%= f.submit assignment.timer_action %>
				<%- end -%>
			</td>
			<td><%=h assignment.project_name %></td>
			<td><%=h assignment.associated_task.task.name %></td>
			<td><%=h assignment.client_name %></td>
	    <td><%= link_to_crud assignment %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>

<p><%= link_to_new :assignment, :text => "New Assignment" %></p>
