<%- content_for :head do -%>
	<style type="text/css" media="screen">
		#new_invoice div{
			float:left;
			position:relative;
			clear:both;
		}
		#new_invoice li{
			float:left;
			position:relative;
			clear:both;
		}
	</style>
<%- end -%>
<%- content_for :javascript do -%>
<script type="text/javascript" charset="utf-8">

	$(function(){
		$("input.include_cost").click(function(){tally_invoice_total();});
	});
	
	function tally_invoice_total(){
		tally_project_totals();
		var sum = $("#projects .project .total_cost").map(function(){
			return currency_to_float($(this).text());
		}).sum();
		$("#invoice_total").text(number_to_currency(sum));
	}
	
	function tally_project_totals(){
		$("#projects .project").each(function(){
			tally_table_totals($(this).find(".project_timers"));
			tally_table_totals($(this).find(".project_expenses"));
		});
	}
	
	function tally_table_totals(tally_table){
		var tally = [];
		tally_table.find("input.include_cost:checked").each(function(){
			tally.push(currency_to_float($(this).parents("tr:first").find(".cost").text()));
		});
		tally_table.find(".total_cost").text(number_to_currency(tally.sum()));
	}
</script>
<%- end -%>

<% form_for @invoice do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :client_id %>

	<%= render '/mailer/invoice', :include_check_boxes => true %>
	
	<hr/>
	
	<h2>Send invoices to:</h2>
	<ul>
		<% if !@invoice.contacts.blank? %>
		  <% for contact in @invoice.contacts %>
		    <li>
					<%= check_box_tag :"invoice[email_ids][]", contact.id, true, :id => "invoice_email_id_#{contact.id}" %>
					<%= label_tag "invoice_email_id_#{contact.id}", contact.full_name %>
				</li>
		  <% end %>
		<% end %>
	  <li>
			<%= f.check_box :email_me %>
			<%= f.label :email_me, "Send me a copy." %>
		</li>
	</ul>
	

  <p><%= f.submit "Submit" %></p>
<% end %>
