<%- content_for :head do -%>
	<style type="text/css" media="screen">
		#new_invoice div{
			float:left;
			position:relative;
			clear:both;
		}
		#new_invoice li{
			float:left;
			position:relative;
			clear:both;
		}
	</style>
<%- end -%>
<%- content_for :javascript do -%>
<script type="text/javascript" charset="utf-8">
	function calculate_total(){
		var sum = 0;
		
		$('.project_total_cost').each(function(){
			sum += currency_to_float($(this).text());
		});
		
		$('#invoice_total').text(number_to_currency(sum));
		
		return sum
	}
	
	function calculate_project_totals(){
		$("table.project").each(function(){
			var items_for_tally = [];
			
			$(this).find("tr.timer").each(function(){
				if($(this).find('input.include_timer:checked').length > 0){
					items_for_tally.push(currency_to_float($(this).find('.timer_cost').text()));
				}
			});
			var sum = items_for_tally.sum();
			$(this).find('.project_total_cost').text(number_to_currency(sum));
		});
		
		calculate_total();
	}
	
	function tally_items(items){
		sum = 0;
		$.each(items, function(item){ 
			sum += parseFloat(item.replace("$",''));
		});
	}
	
	$(function(){
		calculate_project_totals();
		
		$("input.include_timer").click(function(){
			calculate_project_totals();
		});
	});
</script>
<%- end -%>

<% form_for @invoice do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :client_id %>

	<% if !@invoice.uninvoiced_timers.blank? %>
		<%= render '/mailer/invoice', :include_check_boxes => true %>
	<% end %>
	
	<hr/>
	
	<h2>Send invoices to:</h2>
	<% if !@invoice.contacts.blank? %>
	  <% for contact in @invoice.contacts %>
	    <li>
				<%= check_box_tag :"invoice[email_ids][]", contact.id, true, :id => "invoice_email_id_#{contact.id}" %>
				<%= label_tag "invoice_email_id_#{contact.id}", contact.full_name %>
			</li>
	  <% end %>
	<% else %>
	  
	<% end %>
	

  <p><%= f.submit "Submit" %></p>
<% end %>
