<h1>Invoices</h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Client</th>
    <th>Date</th>
  </tr>
  <% for invoice in @invoices %>
    <tr>
			<td><%= link_to h(invoice.client.name), invoice.client %></td>
			<td><%=h invoice.created_at.to_s %></td>
	    <td><%= link_to_crud invoice %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>

<p><%= link_to_new :invoice, :text => "New Invoice" %></p>
