<h1>Invoice</h1>

<p>
  <strong>Client:</strong>
	<%= link_to_show @invoice.client, :text => @invoice.client.name %>
</p>
<p>
  <strong>Info:</strong>
	<%=h @invoice.info %>
</p>

<% if !@invoice.timers.blank? %>
<table>
  <% for timer in @invoice.timers %>
    <tr>
			<td><%= timer.task.name %></td>
			<td><%= timer.project.name %></td>
			<td><%= timer.readable_hours %></td>
			<td><%= timer.created_at %></td>
		</tr>
  <% end %>
</table>
<% end %>

<p>
	<strong>Total:</strong>
	<%= @invoice.total_hours %>
</p>

<p>
	<strong>Outstanding Balance:</strong>
	<%= @invoice.total_cost %>
</p>

<p>
  <%= link_to_edit @invoice, :text => 'Edit' %> |
  <%= link_to_destroy @invoice, :text => 'Destroy' %> |
  <%= link_to "View All", invoices_path %>
</p>

<hr>

<h2>Resend Invoice</h2>
<% form_for @invoice do |f| -%>
  <ul>
  	<% if !@invoice.contacts.blank? %>
  	  <% for contact in @invoice.contacts %>
  	    <li>
  	    	<%= check_box_tag :"invoice[:email_ids][]", contact.id, true, :id => "invoice_email_id_#{contact.id}" %>
					<%= label_tag "invoice_email_id_#{contact.id}", contact.full_name %>
  	    </li>
  	  <% end %>
  	<% end %>
  </ul>
	<%= f.submit "Send", :disable_with => 'Sending...' %>
<% end -%>