<% form_for @task || Task.new do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
		<%= f.label :default, "Default" %>
		<%= f.check_box :default %>
		<%= f.submit "Submit" %>
	</p>
<% end %>
