<% form_for @task do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= f.hidden_field :project_id %>
  <p><%= f.submit "Submit" %></p>
<% end %>
