<h1>
	<%= @user.login %>
	<%= link_to_edit @user, :class => '' %>
</h1>

<% if !@user.attributes.blank? %>
  <% @user.attributes.sort_by{ |k,v| k }.each do |k, v| %>
    <p>
    	<strong><%= k %>:</strong>
			<%= v %>
    </p>
  <% end %>
<% else %>
  
<% end %>


<h2>Companies</h2>
<ul>
	<% if !@user.companies.blank? %>
	  <% for company in @user.companies %>
	    <li><%= link_to company.name, company_login_path(company), :method => :post %></li>
	  <% end %>
	<% end %>
</ul>
<%= link_to "new company", :new_company %>