<%- company_based_role ||= nil -%>
<% form_for company_based_role || @company_based_role || CompanyBasedRole.new do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %>: 
    <%= f.text_field :email %>
		<%= f.collection_select :name, CompanyBasedRole.names, :to_s, :to_s %>
	</p>
  <%= f.hidden_field :company_id %>
  <p><%= f.submit "Submit" %></p>
<% end %>
