<%- content_for :pre_content do -%>
<h1 id="cHome">Track Your Time. It's Valuable</h1>
<div id="signIn">
	<div id="signInInner">
		<h2>Beta Sign In</h2>
		<% form_tag session_path do -%>
		
		
		<%= text_field_tag 'login', @login, :value => 'Username', :class => 'loginCred'  %>

		<%= password_field_tag 'password', nil, :value => 'Password', :class => 'loginCred'  %>

		<!-- Uncomment this if you want this functionality
		<p><%= label_tag 'remember_me', 'Remember me' %>
		<%= check_box_tag 'remember_me', '1', @remember_me %></p>
		-->
		<ul>
			<li><%= submit_tag 'Log in', :class => 'login' %></li>
			<li>- or -</li>
			<li><%= link_to 'sign up', :signup, :class => 'signup' %></li>
			<%= content_tag :li, link_to('log out', :logout) if logged_in? %>
		</ul>
		<% end -%>
	</div>
</div>
<%- end -%>