<% form_for @project do |f| %>
  <%= f.error_messages %>
	<p>
		<%= f.label :client_id, "Client Id" %>
		<%= f.collection_select :client_id, @clients, :id, :name, :prompt => "Select A Client" %>
	</p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :allotted_hours %><br />
    <%= f.text_field :allotted_hours %>
  </p>
	<div>
		<% if !@tasks.blank? %>
		<h2>Select Tasks</h2>
		  <% for task in @tasks %>
		    <div><%= check_box_tag :"project[task_ids][]", task.id, @project.task_ids.include?(task.id), :id => "task_#{task.id}" %>
				<%= label_tag :"task_#{task.id}", task.name %></div>
		  <% end %>
		<% else %>
		  
		<% end %>
		
	</div>
  <p><%= f.submit "Submit" %></p>
<% end %>
