<h1>Project</h1>

<p>
  <strong>Name:</strong>
	<%=h @project.name %>
</p>
<p>
  <strong>Allotted Hours:</strong>
	<%=h @project.allotted_hours %>
</p>
<p>
  <strong>Client:</strong>
	<%=h @project.client.name %>
</p>

<p>
  <%= link_to_edit @project, :text => 'Edit' %> |
  <%= link_to_destroy @project, :text => 'Destroy' %> |
  <%= link_to "View All", projects_path %>
</p>

<div>
	<h2>Tasks</h2>
	<ul>
		<% if !@project.tasks.blank? %>
		  <% for task in @project.tasks %>
		    <li><%= task.name %></li>
		  <% end %>
		<% end %>
	</ul>
</div>