<%- content_for :document_ready do -%>
	<script type="text/javascript" charset="utf-8">
		$(function(){			
			$("select#project").change(function(){
				var url = '<%= associated_tasks_path(:"search[project_id]" => "JTAG") %>';
				$.ajax({
					url:url.replace("JTAG", $(this).val()),
					dataType:'xml',
					success:function(xml){
						$('select#timer_associated_task_id').html('');
						$(xml).find('associated-task').each(function(){
							$('select#timer_associated_task_id').append(
								"<option value=" + $(this).children('id').text() + ">" + 
									$(this).find('task name').text() + 
								"</option>"
							);
						});
					}
				});
			});
		});
	</script>
<%- end -%>

<% form_for @timer || Timer.new do |f| %>
  <%= f.error_messages %>
	<p>
		<%= label_tag :project %>:
		<%= project_select @projects, :selected => f.object.associated_task.try(:project_id) %>
	</p>
	<p>
		<%= f.label :associated_task_id, "Task" %>: 
	  <%= f.collection_select :associated_task_id, f.object.associated_task.try(:project).try(:associated_tasks) || [], :id, :name, {:disabled => true} %>
	</p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :cols => 15, :rows => 3 %>
  </p>
  <p>
    <%= f.label :hours, "Hours:" %>
    <%= f.text_field :hours, :size => 3 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
