<%- content_for :document_ready do -%>

	<script type="text/javascript" charset="utf-8">
	
		var projects = <%= @projects.to_json(:only => [:id, :name], :include => [:tasks]) %>;
	
		$(function(){			
			$("select#project").change(function(){
				var select = $(this);
				var timer_select = $('select#timer_associated_task_id');
				var project = projects.detect(function(item){
					return item.project.id == select.val();
				}).project;
				var tasks = project.tasks.sort(function(a, b){
					var array = [a.name, b.name];
					var condition = array.toString() == array.sort().toString();
					return condition ? -1 : 1;
				});

				timer_select.html('');
				$.each(project.tasks, function(k, task){
					timer_select.append(
						"<option value=" + task.id + ">" + 
							task.name + 
						"</option>"
					);
				});
			});
		});
	</script>
<%- end -%>

<% form_for @timer || Timer.new do |f| %>
  <%= f.error_messages %>
	<p>
		<%= label_tag :project %>:
		<%= project_select @projects, :selected => f.object.associated_task.try(:project_id) %>
	</p>
	<p>
		<%= f.label :associated_task_id, "Task" %>: 
	  <%= f.collection_select :associated_task_id, f.object.associated_task.try(:project).try(:associated_tasks) || [], :id, :name, {:disabled => true} %>
	</p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :cols => 15, :rows => 3 %>
  </p>
  <p>
    <%= f.label :hours, "Hours:" %>
    <%= f.text_field :hours, :size => 3 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
