<%- content_for :document_ready do -%>

	<script type="text/javascript" charset="utf-8">
	
		var projects = <%= @projects.to_json(:only => [:id, :name], :include => {:associated_tasks => {:include => :task}}) %>;
	
		$(function(){			
			$("select#project").change(function(){
				var select = $(this);
				var timer_select = $('select#timer_associated_task_id');
				var project = projects.detect(function(item){
					return item.project.id == select.val();
				}).project;
				var associated_tasks = project.associated_tasks.sort(function(a, b){
					var array = [a.task.name, b.task.name];
					var condition = array.toString() == array.sort().toString();
					return condition ? -1 : 1;
				});

				timer_select.html('');
				$.each(project.associated_tasks, function(k, associated_task){
					timer_select.append(
						"<option value=" + associated_task.id + ">" + 
							associated_task.task.name + 
						"</option>"
					);
				});
			});
		});
	</script>
<%- end -%>

<% form_for @timer || Timer.new do |f| %>
  <%= f.error_messages %>
	<fieldset>
		<p>
			<%= label_tag :project %>:
			<%= project_select @projects, :selected => f.object.associated_task.try(:project_id) %>
		</p>
		<p>
			<%= f.label :associated_task_id, "Task" %>: 
		  <%= f.collection_select :associated_task_id, f.object.associated_task.try(:project).try(:associated_tasks) || [], :id, :name, {:disabled => true} %>
		</p>
	  <p>
	    <%= f.label :notes %><br />
	    <%= f.text_area :notes, :cols => 15, :rows => 3 %>
	  </p>
	  <p>
	    <%= f.label :hours, "Hours:" %>
	    <%= f.text_field :hours, :size => 3 %>
	  </p>
	</fieldset>
  <p><%= f.submit "Submit" %></p>
<% end %>

<%- if @timer and @timer.running? -%>
<% form_for @timer do |f| -%>
	<p>
		Help! I forgot to stop my timer!  That's okay, enter the total value of the timer here and click submit to reset it.
	</p>
	<p>
		Timer has been running for <%= ((Time.now - @timer.timer_started_at)/3600).to_time %> hours since
		<%= @timer.timer_started_at.to_s(:select) %>
	</p>
	<%= f.label :stop_and_set, "What time did you stop?" %>
  <%= f.datetime_select :stop_and_set, :default => f.object.timer_started_at %>
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>
<%- end -%>
