<% form_for @assigment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :total_time %><br />
    <%= f.text_field :total_time %>
  </p>
  <p>
    <%= f.label :timer_started_at %><br />
    <%= f.datetime_select :timer_started_at %>
  </p>
  <%= f.hidden_field :task_id %>
  <%= f.hidden_field :user_id %>
  <p><%= f.submit "Submit" %></p>
<% end %>
