<h1>Assigments</h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Notes</th>
    <th>Total Time</th>
    <th>Timer Started At</th>
    <th>Task</th>
    <th>User</th>
  </tr>
  <% for assigment in @assigments %>
    <tr>
			<td><%=h assigment.notes %></td>
			<td><%=h assigment.total_time %></td>
			<td><%=h assigment.timer_started_at %></td>
			<td><%=h assigment.task_id %></td>
			<td><%=h assigment.user_id %></td>
	    <td><%= link_to_crud assigment %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>

<p><%= link_to_new :assigment, :text => "New Assigment" %></p>
