<%- include_check_boxes ||= false -%>
<div style='background-color:#333333;
display:block;
float:left;
margin:auto;
padding:40px 0;
position:relative;
width:100%;'>
<div style="clear:none;
float:none;
margin:0 0 0 40px;
width:100%;">
	<div style='background-color:#EEEEEE;
	float:left;
	margin:auto;
	padding:20px;
	width:60%;'>
		<h1>Invoice ID: <%= @invoice.id %></h1>
		
		<p>
			<strong>Invoice From:</strong>
			<%= @invoice.company.name %>
		</p>
		<p>
			<strong>Amount due:</strong>
			<span id='invoice_total'><%= number_to_currency(@invoice.load_info[:total]) %></span>
		</p>
		<p>
			<strong>Invoice Issue Date:</strong>
			<%= @invoice.issued_at || Date.today %>
		</p>

		<ul style="list-style:none" id='projects'>
			<%- @invoice.load_info[:projects].each do |name, stats| -%>
				<li style='display:block; padding:20px; background:#<%= cycle("ccc", "ddd") %>' class='project'>
					<h2 class=''><%= name %></h2>
					<%- if stats[:timers].length > 0 -%>
					<h3>Work Hours</h3>
					<%= render '/mailer/timers_table', :stats => stats, :include_check_boxes => include_check_boxes %>
					<div style='clear:both'></div>
					<%- end -%>
					<%- if stats[:expenses].length > 0 -%>
					<h3>Expenses</h3>
					<%= render '/mailer/expenses_table', :stats => stats, :include_check_boxes => include_check_boxes %>
					<%- end -%>
					<div style='clear:both'></div>
				</li>
			<%- end -%>
		</ul>
	</div>
</div>
</div>
