<%- include_check_boxes ||= false -%>
<div style='background-color:#333333;
display:block;
float:left;
margin:auto;
padding:40px 0;
position:relative;
width:100%;'>
<div style="clear:none;
float:none;
margin:0 0 0 40px;
width:100%;">
	<div style='background-color:#EEEEEE;
	float:left;
	margin:auto;
	padding:20px;
	width:60%;'>
		<h1>Invoice ID: <%= @invoice.id %></h1>
		
		<p>
			<strong>Invoice From:</strong>
			<%= @invoice.company.name %>
		</p>
		<p>
			<strong>Amount due:</strong>
			<span id='invoice_total'><%= number_to_currency(@invoice.total) %></span>
		</p>
		<p>
			<strong>Invoice Issue Date:</strong>
			<%= Date.today %>
		</p>

		<ul style="list-style:none">
			<%- @invoice.load_info[:projects].each do |name, stats| -%>
				<li style='display:block'><h2><%= name %></h2></li>
				<li style='display:block'>
					<table border="1" cellspacing="0" cellpadding="1" class='project'>
						<thead>
							<tr>
								<%= "<th></th>" if include_check_boxes %>
								<th>Task</th>
								<th>Notes</th>
								<th>Billing Rate</th>
								<th>Hours</th>
								<th>Cost</th>
								<%= "<th></th>" if include_check_boxes %>
							</tr>
						</thead>
						<tbody>
							<%- stats[:timers].sort_by{ |item| item[:task_name] }.each do |timer| -%>
							<tr class='timer'>
								<%- if include_check_boxes -%>
								<td>
									<%= check_box_tag "invoice[invoicing_timer_ids][]", timer["id"], true, :class => 'include_timer' %>
								</td>
								<%- end -%>
								<td><%= timer[:task_name] %></td>
								<td><%= timer["notes"] %></td>
								<td><%= number_to_currency(timer[:billing_rate]) %>/hr</td>
								<td><%= timer[:hours].to_time %></td>
								<td class='timer_cost'><%= number_to_currency(timer[:hours] * timer[:billing_rate]) %></td>
								<%- if include_check_boxes -%>
								<td><%= link_to image_tag("edit.png"), edit_timer_path(timer['id']) %></td>
								<%- end -%>
							</tr>
							<%- end -%>
							<tr>
								<td colspan="<%= include_check_boxes ? 4 : 3 %>">Total</td>
								<td><%= stats[:hours].try(:to_time) %>&nbsp;hours</td>
								<td class='project_total_cost'><%= number_to_currency(stats[:total]) %></td>
							</tr>
						</tbody>
					</table>
				</li>
			<%- end -%>
		</ul>
	</div>
</div>
</div>
