<%- include_check_boxes ||= false -%>
<div style='background-color:#333333;
display:block;
float:left;
margin:auto;
padding:40px 0;
position:relative;
width:100%;'>
<div style="clear:none;
float:none;
margin:0 0 0 40px;
width:100%;">
	<div style='background-color:#EEEEEE;
	float:left;
	margin:auto;
	padding:20px;
	width:60%;'>
		<h1>Invoice ID: <%= @invoice.id %></h1>
		
		<p>
			<strong>Invoice From:</strong>
			<%= @invoice.company.name %>
		</p>
		<p>
			<strong>Amount due:</strong>
			<span id='invoice_total'><%= number_to_currency(@invoice.total) %></span>
		</p>
		<p>
			<strong>Invoice Issue Date:</strong>
			<%= Date.today %>
		</p>

		<ul style="list-style:none">
			<%- @invoice.load_info[:projects].each do |name, stats| -%>
				<li style='display:block'><h2><%= name %></h2></li>
				<li style='display:block'>
					<%= render '/mailer/timers_table', :stats => stats, :include_check_boxes => include_check_boxes %>
					<h3>Expenses</h3>
					<%= render '/mailer/expenses_table', :stats => stats, :include_check_boxes => include_check_boxes %>
				</li>
			<%- end -%>
		</ul>
	</div>
</div>
</div>
