<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="EN" />

	<title><%= yield(:title) || "#{cname}:#{aname}" %></title>
	<link rel="shortcut icon" href="/favicon.ico" >
	
	<%= stylesheet_link_tag 'reset', 'inner_application', 'validation', 'public', 'quickstyles' %>
	
	<%= yield(:head) %>
	
</head>	
<body>
	<div id='content_for_overlay'>
		<%= yield :overlay %>
	</div>

	<div id='flash_wrapper'>
		<%- if flash[:notice] -%>
		<div id='content_for_flash'>
			<%= flash[:notice] %>
		</div>
		<%- end -%>
	</div>
	
	<div id="mainContain">
		<div id="">
			<div id="wrapper">
				<ul id='admin_nav'>
					<li id="ttlogo"><%= link_to_active 'home', :root %></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Feedback</a></li>
					<%- if current_user.has_multiple_companies? -%>
					<li>
						<%= link_to "Companies", "#", :class => 'blind', :rel => '#companies-list' %>
						<ul id='companies-list' class='drop-down'>
							<%- current_user.companies.each do |company| -%>
							<li>
								<%= link_to company.name, company_login_path(company), :class => 'button' %>
							</li>
							<%- end -%>
						</ul>
					</li>
					<%- end -%>
				</ul>
				<ul class="user_status">
					<%- if current_user -%>
					<li class="username"><%= current_user.login %><a href="/logout"> (sign out)</a></li>
					<li><%= link_to_active 'my account', current_user %></li>
					<%- end -%>
					<%- if current_timer -%>
					<li>
						Active Timer(s): 
						<%= link_to current_timer.client_name, timers_path(:anchor => "project_#{current_timer.project_id}") %>
					</li>
					<%- end -%>
				</ul>
				<ul class="sub_nav">
					<%- if current_company -%>
					<li><%= link_to_active 'dashboard', :dashboard %></li>
					<li><%= link_to_controller :timers, :text => 'timesheets' %></li>
					<%- end -%>
				</ul>
				<div id="content">
					<div id="pre-content"><%= yield :pre_content %></div>
					<%- unless (content = yield).blank? -%>
					<div id="content_inner">
						<%= content %>
					</div>
					<%- end -%>
				</div>
			</div>
		</div>
	</div>
	<%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery_extensions', 'application', :cache => false %>
	<%= yield :javascript %>
	<%= yield :document_ready %>
</body>
</html>